<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="margins" translate="label" sortOrder="10">
            <label>Margins</label>
        </tab>
        <section id="margins_general" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="0" showInStore="0">
            <label>General</label>
            <tab>margins</tab>
            <resource>Kodbruket_Margins::margins_general</resource>
            <group id="api" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Token information</label>
                <field id="auth_url" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>API Auth URL</label>
                </field>
                <field id="token" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>API Token</label>
                </field>
                <field id="check_token" translate="button_label" sortOrder="62" showInDefault="1" showInWebsite="0" showInStore="0">
                    <button_label>Check Token</button_label>
                    <frontend_model>Kodbruket\Margins\Block\Adminhtml\System\Config\Checktoken</frontend_model>
                </field>
            </group>
        </section>
        <section id="margins_catalog" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="0" showInStore="0">
            <label>Import Catalog</label>
            <tab>margins</tab>
            <resource>Kodbruket_Margins::margins_import</resource>
            <group id="settings" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Settings</label>
                <field id="crawler_url" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>API Crawler URL</label>
                </field>
                <field id="site_id" showInDefault="1" showInStore="0" showInWebsite="0" sortOrder="11" translate="label" type="select">
                    <label>Select Site</label>
                    <comment>What site option should be used</comment>
                    <source_model>Kodbruket\Margins\Model\Config\SiteOptions</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
